* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-nav {
}

div {
  display: block;
}

@media only screen and (min-width: 1200px) {
  .container-1 {
      max-width: 1170px;
  }
}
@media (min-width: 1200px) {
  .container-1, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .container-1, .container-lg, .container-md, .container-sm {
      max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container-1, .container-md, .container-sm {
      max-width: 720px;
  }
}
@media (min-width: 576px) {
  .container-1, .container-sm {
      max-width: 540px;
  }
}
@media (min-width: 1200px) {
  .container-1 {
      max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .container-1 {
      max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container-1 {
      max-width: 720px;
  }
}
@media (min-width: 576px) {
  .container-1 {
      max-width: 540px;
  }
}
.container-1 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
}

@media (min-width: 992px) {
  .col-lg-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
  }
}
ul {
  padding: 0;
  margin: 0;
  display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

@media (min-width: 992px) {
  .col-lg-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
  }
  .tn-right {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 28px 5px;
    background: #F8EAD8;
    color: #ffffff;
    letter-spacing: 2px;
}
@media only screen and (min-width: 1200px) {
  .top-nav .tn-right .top-social {
      display: inline-block;
      margin-right: 200px;
      padding: 13px 0;
  }
}
.top-nav .tn-right .top-social {
  float: left;
  display: inline-block;
  margin-right: 50px;
  margin-right: 287px;
  padding: 13px 0;
}
.top-nav .tn-right .top-social a {
  display: inline-block;
  font-size: 16px;
  color: #19191a;
  margin-left: 15px;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

.top-nav .tn-right .top-social a {
  display: inline-block;
  font-size: 16px;
  color: #19191a;
  margin-left: 15px;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 1200px) {
  .top-nav .tn-right .top-social {
      display: inline-block;
      margin-right: 200px;
      padding: 13px 0;
  }
}

.top-nav .tn-right .top-social {
  float: left;
}
.menu-nav {
  position: relative;
  z-index: 9;
}
.container-2 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 1200px) {
  .container-2 {
      max-width: 1170px;
  }
  @media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}
@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

div {
  display: block;
  unicode-bidi: isolate;
}
h1 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #966e6e;
}
.row-1 {
  display: flex;
  -ms-flex-wrap: wrap;  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 992px) {
  .col-lg-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
      position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
  }
  .menu-nav .logo {
    padding: 25px 0;
}
.menu{
  position: relative;
  z-index: 9;
  list-style: none;

}
.nav-link {
  color: black;
  justify-content: end;
}
.logo {
  color: #966e6e;
}
.footer-section {
  background-color: #222736;
  display: block;
  padding: 50px 0;
  text-align: center;
}
.footer-section .footer-text {
  padding: 80px 0 30px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 992px) {
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}