:root{
  --color-white: #fff;
  --color-black: #000;
  --color-orange: rgb(221, 99, 42);
 
}

body {

    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}


/*----------Abschnitt Animation Text----------*/
.animated_text span {
    
    position: absolute;
    opacity: 0;
    animation: background_text 6s infinite;
  }
  
  .animated_text span:nth-child(1) {
    animation-delay: 0s;
margin-left: 1.5rem;
   
  }
  
  .animated_text span:nth-child(2) {
    animation-delay: 2s;
    margin-left: 3rem;
  }
  
  .animated_text span:nth-child(3) {
    animation-delay: 4s;
  }
  .a-place{
    margin-top: -5rem;
  }
  
   /*----------Abschnitt Räume-Überschirft----------*/

  .our_acc, .rooms_text{


    text-align: center;
  }
  .our_acc{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 600;
    color: var(--color-orange);
  }
  .rooms_text{

    font-size: 3rem;
    margin: 1rem;
  }
  /*----------Abschnitt Räume-Bilder----------*/
 .rooms {
display: flex;
justify-content: start;
align-items: center;
flex-wrap: wrap;
margin :0 auto;
  width: 95%;
  height: 37rem;
  
 gap: 1rem;
 }

  .room1, .room2, .room3, .room4 {
    background-image:linear-gradient(rgba(155, 96, 96, 0.5), rgba(41, 13, 13, 0.5)) ,url(images/hintergrund_banner.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    flex-wrap: wrap;
    flex-grow: 1;
   

   width: 22.3rem;
    height: 37rem;
   

}

.rooms_text{
  
}

 /*----------Abschnitt Keyframes----------*/
 @keyframes background_text {
  0%,100% { opacity: 0; }
  30% { opacity: 1; }
  40% { opacity: 0; }
  
}


/*----------Abschnitt Media Queries----------*/


@media screen and (min-width: 769px) {
    .background {
        color: var(--color-white);
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
        font-size: 6rem;
        background-image: url('images/hintergrund_banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100vw;
        height: 50vh;
    }

 


  }
  
  @media screen and (min-width: 992px) {
    .rooms {
 
    }
    .room1, .room2, .room3, .room4 {
      width: auto;
    
    }
    
  }