body{

    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

.background{
    background-image: url('images/hintergrund_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 50vh;
}
